*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    padding: 40px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.primary-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar{
    display: flex;
    justify-content: end;
    
}
.navbar ul{
    display: flex;
    list-style: none;
}   

.navbar ul li{
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: #adadad;
    margin-left: 20px;
    font-size: 17px;
}
.navbar ul li a:hover{
    color: white;
}

.headline-banner {
    background: linear-gradient(35deg, rgb(6, 0, 151) 0%, rgb(130, 4, 255) 73%, rgb(193, 15, 255) 100%);
}

.headline-banner .container .row .col h1,
.headline-banner .container .row .col h6 {
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .row .col h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.container .row .col h6{
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: normal;
}
.headline-banner .container .row .col a {
    background-color: rgb(255, 205, 87);
    padding: 20px 35px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
}

.headline-banner .container .row .col img{
    margin: 70px 0;
    width: 85%;
}

.secondary-banner .container{
    display: flex;
    /* justify-content: center; */
    padding: 40px;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    margin: 0 50px;
}
h3{
    margin-bottom: 10px;
    font-size: 20px;
}
p{
    color: #adadad;
}

.secondary-banner .container .description img{
    margin-bottom: 15px;
}


 /* third-banner */
.third-banner .container .row .col img {
    width: 350px;
    height: 400px;
}

.title{
    font-size: 30px;
}

.third-banner .container .row .col h4,
.third-banner .container .row .col h6,
.third-banner .container .title,
.third-banner .container .row .col img{
    margin-bottom: 20px;
}

.third-banner .container .row .col h4{
    font-size: 25px;
    font-weight: normal;
}

.third-banner .container .row .col h6{
    color: #adadad;
}


/* foutrh-banner */
.fourth-banner .container {
    padding: 100px 30px;
}
.fourth-banner .container .row .col:first-child {
    max-width: 500px;
}

.fourth-banner .container .row .col img{
    width:  450px;
    margin: 0 50px;
}

.fourth-banner .container .row .col h2,
.fourth-banner .container .row .col h6{
    margin-bottom: 20px;
}
.fourth-banner .container .row .col h2{
    font-size: 45px ;
    font-weight: normal;
}

.fourth-banner .container .row .col h6{
    color: #adadad;
}

/* fith-banner */
.fifth-banner {
    background-color: #f9f6fe;
}
.fifth-banner .container {
    text-align: center;
    width: 750px;
    padding: 100px 30px;
}
.fifth-banner .container .row .col {
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.fifth-banner .container .row .col h6:first-of-type {
    margin-top: 24px;
    margin-bottom: 35px;
}
.fifth-banner .container .row .col h6:last-of-type {
    font-weight: bold;
}

/* sixth-banner */
.sixth-banner .container {
    padding: 140px 30px;
}
.sixth-banner .container .row .col {
    width: 250px;
}

.sixth-banner .container .title{
    margin-bottom: 50px;
}

.sixth-banner .container .row .col img,
.sixth-banner .container .row .col h4,
.sixth-banner .container .row .col h6{
    margin-bottom: 20px;
}

.sixth-banner .container .row .col h4{
    font-size: 25px;
    font-weight: normal;
}

.sixth-banner .container .row .col h6{
    color: #adadad;
}

/* seventh-banner */
.seventh-banner {
    background-image: linear-gradient(35deg, rgb(6, 0, 151) 0%, rgb(130, 4, 255) 73%, rgb(193, 15, 255) 100%);
}
.seventh-banner .container {
    text-align: center;
    width: 750px;
    padding: 80px 30px;
}
.seventh-banner .container .row {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.seventh-banner .container .row .col h2 {
    margin-top: 24px;
    margin-bottom: 35px;
    color: white;
    font-size: 45px;
    font-weight: normal;
}
.seventh-banner .container .row .col a {
    background-color: rgb(255, 205, 87);
    padding: 25px 45px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
}

/* eighth-banner */
.eighth-banner .container .row .col h6{
    font-weight: normal;
    font-size: 15px;
    color: #adadad;
    margin-bottom: 20px;
   
}
.eighth-banner .container .row .col h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.link{
    text-decoration: none;
}

.nineth-banner {
    background-color: #f9f6fe;
}
.nineth-banner .container .row {
    justify-content: center;
}

@media (max-width: 992px)
{
    
}
